@import 'nib'
global-reset()

// @import 'src/sprite.styl'

/******** hack begin ********/
  div, span, a, li, h1, h2, h3, h4, 
  h5, h6, td, input, textarea, button 
    -webkit-text-size-adjust none
    -o-text-size-adjust none
    -moz--text-size-adjust none
    text-size-adjust none
    max-height 999999px
    
  input[type=text],
  input[type=password],
  input[type=submit],
  textarea 
    -webkit-appearance none !important
    
/******** hack end ********/

/******** main styles begin ********/
  .rel 
    position relative
    
  .clear 
    clear both
    
  .notvalid 
    border 1px solid red !important
    
  .container 
    width 1000px
    margin 0 auto
    
  .thanks-title 
    font-size 40px
    line-height 65px
    color #333
    font-weight bold
    text-align center
    position fixed
    margin auto
    left 0
    right 0
    top 0
    bottom 0
    height 185px
  
  input, button, textarea
    outline none

/******** main styles end ********/